body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 105%;
}
header {
  background-color: #bed7ef;
  text-align: center;
}
nav {
  background-color: #f9d8fd;
}
main {
  background-color: #b3ecff;
  font-size: 24px;
  text-align: justify;
}
footer {
  background-color: #b1f7cf;
}
li {
  display: inline;
  width: 100%;
}
h1 {
  text-align: center;
  font-family: 'Times New Roman', serif;
  color: #9b14f5;
}
p {
  line-height: 2;
}